[submodule "Assignments/Assignment 1/Submissions/hardingadonis"]
	path = Assignments/Assignment 1/Submissions/hardingadonis
	url = https://github.com/MMA301/assignment-1.git
[submodule "Assignments/Assignment 2/Submissions/hardingadonis"]
	path = Assignments/Assignment 2/Submissions/hardingadonis
	url = https://github.com/MMA301/assignment-2.git
[submodule "Assignments/Assignment 3/Submissions/hardingadonis"]
	path = Assignments/Assignment 3/Submissions/hardingadonis
	url = https://github.com/MMA301/assignment-3.git
[submodule "Assignments/Assignment 1/Submissions/bakaqc"]
	path = Assignments/Assignment 1/Submissions/bakaqc
	url = https://github.com/MMA301-17C/assignment-1
[submodule "Assignments/Assignment 2/Submissions/bakaqc"]
	path = Assignments/Assignment 2/Submissions/bakaqc
	url = https://github.com/MMA301-17C/assignment-2
[submodule "Assignments/Assignment 1/Submissions/thunder"]
	path = Assignments/Assignment 1/Submissions/thunder
	url = https://github.com/4-nam-dai-hoc/MMA-assignment1.git
